.btn_show {
  animation: btnShow 1s ease-out 0.2s forwards;
  opacity: 0;
}

.btn {
  position: absolute;
  width: 25%;
  top: 59%;
  left: 28%;
  transition: transform 0.1s ease-in-out, filter 0.2s ease-in-out;
  filter: drop-shadow(0 4px 6px rgba(24, 22, 22, 0.5));
  animation: startScale 2s ease-in-out infinite;
}

@keyframes startScale {
  0%,
  100% {
    transform: scale(0.98) translateX(-4px);
    filter: drop-shadow(0 5px 5px rgba(24, 22, 22, 0.5));
  }
  50% {
    transform: scale(1.02) translateX(4px);
    filter: drop-shadow(0 6px 6px rgba(24, 22, 22, 0.5));
  }
}

@keyframes btnShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn:hover {
  animation: none;
  transform: scale(0.98) translateX(-4px);
  transition: transform 0.1s ease-in-out, filter 0.2s ease-in-out;
  filter: drop-shadow(0 4px 20px rgba(210, 190, 207, 0.455));
}

.btn.stopped {
  animation: none;
}

@media (min-width: 1020px) {
  .btn {
    position: absolute;
    width: 15%;
    top: 59%;
    left: 48%;
    transition: transform 0.1s ease-in-out, filter 0.2s ease-in-out;
    filter: drop-shadow(0 4px 6px rgba(24, 22, 22, 0.5));
    animation: startScale 2s ease-in-out infinite;
  }
}
