@import url("./reset.css");
@import url("./button.css");

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #2981f6 0%, #68b0fd 100%);
}

main {
  position: relative;
  display: flex;
  width: 105%;
  height: 100%;
  left: -3%;
  top: 10%;
}

.bg_box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  width: 100%;
  animation: bgShow 1s ease-out 0.5s forwards;
  opacity: 0;
}

@keyframes bgShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text_box {
  width: 80%;
  position: absolute;
  top: 5vh;
  left: 5%;
  transform: translate(0%, -50%);
  border: none;
  z-index: 999;
  color: #ededed;
  animation: showText 0.2s ease-out 0.1s forwards;
  opacity: 0;
}

@keyframes showText {
  0% {
    transform: translateY(-100%) translateX(0%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  margin-right: auto;
}

.logo_img {
  width: 70%;
}

.text {
  margin: 5px 0 0 0;
  font-size: 14px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.sd_link {
  text-decoration: none;
  font-size: 16px;
  color: #d8d3ee;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  &:hover {
    color: #ededed;
  }
}

@media (min-width: 425px) {
  .bg_box {
    top: 55%;
  }

  .text_box {
    width: 85%;
    top: 5%;
  }

  .text {
    margin: 15px 0 0 0;
    font-size: 16px;
    font-weight: 500;
  }

  .sd_link {
    font-size: 18px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 80%;
    height: 90%;
    margin: 0 auto;
  }

  .text_box {
    width: 70%;
    top: 10%;
  }
}

@media (min-width: 1020px) {
  main {
    max-width: 90%;
  }

  .bg_box {
    width: 80%;
  }

  .text_box {
    width: 42%;
    left: 12%;
    top: 8%;
  }
}

@media (min-width: 1420px) {
  .bg_box {
    width: 70%;
  }

  .text_box {
    width: 35%;
    left: 20%;
  }

  .text {
    font-size: 18px;
  }

  .sd_link {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  .text_box {
    width: 35%;
    left: 17%;
  }

  .text {
    font-size: 24px;
  }

  .sd_link {
    font-size: 26px;
  }
}
