@import url("./reset.css");
@import url("./button.css");

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #2981f6 0%, #68b0fd 100%);
}

main {
  position: relative;
  width: 105%;
  height: 100%;
  left: -3%;
  top: 10%;
}

.bg_box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  width: 100%;
  animation: bgShow 1s ease-out 0.5s forwards;
  opacity: 0;
}

@keyframes bgShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text_box {
  width: calc(65%);
  position: absolute;
  top: 1vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 999;
  color: #ededed;
  animation: showText 0.2s ease-out 0.1s forwards;
  opacity: 0;
}

@keyframes showText {
  0% {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main_text {
  padding: 5px;
  margin: 0;
  font-size: 5.5vw;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "OverusedGrotesk", sans-serif;
}

.text {
  padding: 5px;
  margin: 5px 0 0 0;
  font-size: 4vw;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "OverusedGrotesk", sans-serif;
  font-weight: 300;
}

@keyframes showText {
  0% {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1020px) {
  main {
    max-width: 80%;
    height: 90%;
    margin: 0 auto;
  }

  .bg_box {
    width: 80%;
    top: 55%;
  }

  .text_box {
    width: calc(24%);
    top: 5%;
    left: 30%;
  }

  .main_text {
    font-size: 1.8vw;
  }

  .text {
    margin: 15px 0 0 0;
    font-size: 1.1vw;
    font-weight: 400;
  }
}

@media (max-aspect-ratio: 1/2) {
  .text_box {
    width: calc(70%);
    top: 10%;
    left: 50%;
  }

  .main_text {
    font-size: 6.5vw;
  }

  .text {
    font-size: 5vw;
  }
}
